header{
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: white;
}
main{
    height: 80vh;
    width: 100vw;
    background-color: aqua;
    color: white;
}
footer{
    background-color: black;
    color: white;
    height: 20vh;
    width:100vw
}